In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from io import StringIO

In [2]:
csv_data = '''
A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
1.0,11.0,12.0,
'''
df =pd.read_csv(StringIO(csv_data))

In [3]:
df.head()

     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  1.0  11.0  12.0  NaN

df.isnull().sum()